.dashboard_page{
    background-color: #e6e6e6;
    padding: 24px;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboard {
    display: flex;
    gap: 20px;
    margin-left: 24px;
    margin-bottom: 12px;
}

.dashboard .boxs {
    display: flex;
    width: auto;
    gap: 20px;
    color: #00001a;
    border-left: 5px solid #00001a;
    background-color: white;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.flex{
    display: flex;
    gap: 44px;
}