.manage_team{
    display: flex;
    background-color: #00001a;
    color: white;
    padding: 0 84px 0 44px;
    gap: 76px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.team_detail{
    display: flex;
    gap: 76px;
    padding: 0 84px 0 44px;
    border-bottom: 4px solid #00001a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.team :hover{
    background-color:  #cccccc    ;
}

.title{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}