.contact_info{
    display: flex;
    background-color: #00001a;
    color: white;
    padding: 0 100px 0 44px;
    gap: 60px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contant_data{
    display: flex;
    gap: 60px;
    width: 100%;
    padding: 0 100px 0 44px;
    border-bottom: 4px solid #00001a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}