.recent {
    background-color: white;
    padding: 34px;
}

.recent .id {
    display: flex;
    gap: 30px;
    border-bottom: 4px solid #00001a;
}

.recent .id h3 {
    color: white;
    padding: 8px 6px;
    border-radius: 4px;
    background-color: #00001a;
}

.revenue {
    color: white;
    text-align: center;
    background-color: #00001a;
    padding: 12px ;
}

.img {
    width: 90px;
    height: 90px;
    border-radius: 300px;
    margin-left: 70px;
    margin-top: 20px;
}
.name{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}