.adminDashboard {
    width: auto;
    background-color: #00001a;
}

.adminDashboard .dashboard_name {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 18px;
}
.dashboard_name:hover{
    color: gray;
}

.adminDashboard h4 {
    padding: 0 24px;
}


.line {
    display: flex;
    gap: 5px;
    align-items: center;
}

.data {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid white;
}
