.profile_img{
    width: 200px;
    height: 200px;
    border-radius: 300px;
    
}

.profile_detail{
    display: flex;
    gap: 100px;
    background-color: #d9d9d9;
    width: 100%;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile_data{
    margin-top: 40px;
}
.btn{
    background-color: #00001a;
    color: white;
    padding: 12px;
    border-radius: 5px;
}
